.infoBoxT{
    background-color: white;
    padding:20px 10px;
    border-radius:5px;
    
}

.inf-title{
    font-size: 24px;
    font-weight: 700;
    color:rgb(0, 6, 58);
    text-align: center;
    margin-top: 34px;
    margin-bottom: 50px;
}

.inf-pre-title{
    font-size: 20px;
    font-weight: 700;
    color:rgb(0, 6, 58);
    display: block;
    margin: 50px auto;
    max-width: 1140px;
}